<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios de prueba</title>
</head>
<body>
    <h1>Listado de usuarios</h1>
    <ul>
        <% for (let i = 0; i < nombres.length; i++) { %>
            <li><%= nombres[i] %></li> 
        <% } %>     
    </ul>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>
</html>